<div class="">
            <div class="tagline" > 

                <div> 
                   <img class="img" src="images/25th.jpg" alt="25th Anniversary" />
                    
                    <img class="img" src="images/logo3.png" alt="decvinimage"  style="padding-left: 10%;padding-right: 5%;"/>
                    <img class="img" src="images/chickenmainpage.png" alt="decvinimage" />
                </div>
     <div style="text-align: center;width: 93%;"> <h3>{{getTranslation('logoTitle')}}</h3> </div>
                
                
                  </div>
        </div>
<!--<div class=" productsdiv" >
  
      <div class="md-3-line listitem" ng-repeat="item in todos" style="">
          <div class="header">{{item.name}}</div>
          <div class="detail">
              <ul class="enlarge">
                  <li><img ng-src="{{item.imagePath}}" width="180px" height="180px" class="md-avatar" alt="{{item.name}}" /><span><img ng-src="{{item.imagePath}}" alt="{{item.name}}" width="280px" height="280px"/><br />{{item.name}}</span></li></ul>
             <div class="itemtext wrapword">
            {{item.tagline}}
               </div>
        </div>
      </div>
    
</div>-->


<section class="no-margin"></section>


